<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Счетчик слов</title>
</head>
<body>
    <h1>Счетчик слов</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Загрузка файла:</label>
        <input type="file" id="file" name="file">
        <br>
        <label for="word">Введите слово:</label>
        <input type="text" id="word" name="word">
        <button type="submit" name="action" value="count">Подсчет</button>
        <button type="submit" name="action" value="clear">Очистка памяти</button>
    </form>
    {% if count %}
    <p>Слово '{{ searched_word }}' найдено {{ count }} .</p>
    {% endif %}
</body>
</html>
